<div class="container">

  <!-- Contenu principal -->
  <p>En espérant que le contenu de DriveSync vous apporte une entière satisfaction 😉.</p>

  <!-- Conteneur des cartes -->
  <div class="row">

    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-body bg-dark rounded-lg">
          <h3 class="card-title text-center mb-3">Voitures électriques ⚡</h3>
          <!-- Boucle sur les voitures électriques -->
          <div *ngFor="let car of evcars" class="mb-2">
            <p class="card-text">{{ car.brand }} - {{ car.model }}</p>
          </div>
          <button class="btn btn-outline-primary btn-block" type="button">En savoir plus</button>
        </div>
      </div>
    </div>

    <!-- Carte pour les voitures hybrides (plus petite) -->
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body bg-dark rounded-lg">
          <h3 class="card-title text-center mb-3">Voitures hybrides 🌿</h3>
          <!-- Boucle sur les voitures hybrides -->
          <div *ngFor="let car of hcars" class="mb-2">
            <p class="card-text">{{ car.brand }} - {{ car.model }}</p>
          </div>
          <!-- Bouton "En savoir plus" -->
          <button class="btn btn-outline-primary btn-block" type="button">En savoir plus</button>
        </div>
      </div>
    </div>

    <!-- Carte supplémentaire avec le même style -->
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body bg-dark rounded-lg">
          <h3 class="card-title text-center mb-3">Autres voitures 🚗</h3>
          <!-- Contenu de la carte supplémentaire -->
          <p class="card-text">Contenu de la carte supplémentaire.</p>
          <!-- Bouton "En savoir plus" -->
          <button class="btn btn-outline-primary btn-block" type="button">En savoir plus</button>
        </div>
      </div>
    </div>

    <!-- Carte supplémentaire avec le même style -->
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body bg-dark rounded-lg">
          <h3 class="card-title text-center mb-3">Autres voitures 🚗</h3>
          <!-- Contenu de la carte supplémentaire -->
          <p class="card-text">Contenu de la carte supplémentaire.</p>
          <!-- Bouton "En savoir plus" -->
          <button class="btn btn-outline-primary btn-block" type="button">En savoir plus</button>
        </div>
      </div>
    </div>

  </div>
</div>
